/* Custom properties */

:root {
  /* colors */
  --clr-white: 0 0% 100%; /*hsl(0, 0%, 100%)*/
  --clr-title-blue: 212 27% 19%; /*hsl(212, 27%, 19%)*/
  --clr-content-blue: 232 10% 55%; /*hsl(232, 10%, 55%)*/
  --clr-section-blue: 213 9% 39%; /*hsl(213, 9%, 39%)*/
  --clr-subheading-grey: 210 4% 67%; /*hsl(210, 4%, 67%)*/
  --clr-graphic-cyan: 167 40% 24%; /*hsl(167, 40%, 24%)*/
  --clr-photo-blue: 198 62% 26%; /*hsl(198, 62%, 26%)*/
  --clr-footer-cyan: 168 34% 41%; /*hsl(168, 34%, 41%)*/

  /* font families */
  --ff-title: "Fraunces", serif;
  --ff-content: "Barlow", sans-serif;
}

/* CSS Resets */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  text-align: center;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* utility classes */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.d-block {
    display: block;
}

.container {
    margin-inline: auto;
    max-width: 80rem;
  }

  .uppercase {
    text-transform: uppercase;
  }

  /* ---------------------------------------------- */
  .title {
    font-family: var(--ff-title);
    color: hsl(var(--clr-title-blue));
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 2rem;
    padding-inline: 5rem;
  }

  .content {
    font-family: var(--ff-content);
    color: hsl(var(--clr-content-blue));
    font-size: 1.125rem;
    padding-inline: 1.5rem;
  }

  /* ---------------------------------------------- */

  .header {
    justify-content: space-between;
    padding-inline: 1.25em;
    padding-top: 1rem;
    height: 3.5rem;
    width: 100%;
  }

  .logo {
    text-decoration: none;
    font-size: 1rem;
    color: hsl(var(--clr-white));
    font-family: var(--ff-content);
    font-weight: 900;
  }
  
  .navbar {
    display: inline-block;
  }

  #home {
    background: url(./images/mobile/image-header.jpg) no-repeat center bottom;
    background-size: cover;
    height: 100vh;
  }

  .home-content {
    text-align: center;
    height: calc(100vh - 3.5rem);
    place-items: center;
  }

  .home-title {
    font-size: 2.5rem;
    font-family: var(--ff-title);
    letter-spacing: 0.45rem;
    color:hsl(var(--clr-white));
    font-weight: 900;
    padding-inline: 1.5rem;
  }

  .home-title::after {
    content: url(./images/icon-arrow-down.svg);
    display: block;
    padding-top: 10%;
  }

  .section > *:not(:first-child) {
    padding-top: 2rem;
  }

  .learn-more {
    font-family: var(--ff-title);
    font-weight: 900;
    padding-bottom: 3rem;
  }

  .graphic-photo {
    height: 75vh;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 15%;
    gap: 2rem;
  }

  #graphic-design {
    background: url(./images/mobile/image-graphic-design.jpg) no-repeat center top;
    background-size: cover;
  }

  #photography {
    background: url(./images/mobile/image-photography.jpg) no-repeat center top;
    background-size: cover;
  }

  #graphic-design > * {
    color: hsl(var(--clr-graphic-cyan));
  }

  #photography > * {
    color: hsl(var(--clr-photo-blue));
  }

  #testimonials {
    padding-block: 4rem;
  }

  .testimonials-heading {
    color: hsl(var(--clr-subheading-grey));
    font-size: 1.2rem;
    letter-spacing: 0.25rem;
    padding-inline: 0;
  }

  .testimonial-card {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding-top: 3rem;
  }

  .testimonial-card > img {
    border-radius: 50%;
    width: 22%;
  }

  .testimonial-card > p {
    font-family: var(--ff-content);
    padding-inline: 1.5rem;
  }

  .testimonial-card span {
    display: block;
    font-size: 1.5rem;
    padding-inline: 0;
  }

  .post {
    font-size: 1rem;
    color: hsl(var(--clr-subheading-grey));
  }

  #gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  #footer {
    background-color: hsl(var(--clr-footer-cyan));
    flex-direction: column;
    padding-block: 3rem;
    gap: 2rem;
    width: 100%;
  }

  #footer * {
    color: hsl(var(--clr-graphic-cyan));
    text-decoration: none;
    padding-inline: 1rem;
  }

  .footer-logo {
    font-size: 3rem;
  }

  .social-links {
    padding-block: 3rem;
    justify-content: center;
  }

  .social-links > * {
    padding-inline: 0rem !important;
  }

  .content > img {
    filter: brightness(0) saturate(100%) invert(25%) sepia(64%) saturate(368%) hue-rotate(116deg) brightness(92%) contrast(88%);
  }



  

  